<plugins>
    <pyqgis_plugin name="OTP plugin" version="0.3.3" plugin_id="147">
        <description><![CDATA[OTP]]></description>
        <about><![CDATA[bla]]></about>
        <version>0.9</version>
        <trusted>False</trusted>
        <qgis_minimum_version>2.0.0</qgis_minimum_version>
        <homepage><![CDATA[http://www.ggr-planung.de]]></homepage>
        <file_name>qgis_plugins-master.zip</file_name>
        <icon>/static/packages/survey.png</icon>
        <author_name><![CDATA[Martin Dobias (Faunalia)]]></author_name>
        <download_url>https://github.com/ChrFr/qgis_plugins.git</download_url>
        <uploaded_by><![CDATA[brushtyler]]></uploaded_by>
        <create_date>2012-06-18T09:43:57.251757</create_date>
        <update_date>2012-06-18T09:43:57.251757</update_date>
        <experimental>False</experimental>
        <deprecated>False</deprecated>
        <tracker><![CDATA[https://github.com/ChrFr/qgis_plugins]]></tracker>
        <repository><![CDATA[https://github.com/ChrFr/qgis_plugins]]></repository>
        <tags><![CDATA[OTP]]></tags>
        <downloads>5000000</downloads>
        <average_vote>5</average_vote>
        <rating_votes>18</rating_votes>
        <external_dependencies></external_dependencies>
        <server>False</server>
    </pyqgis_plugin>
</plugins>